In [142]:
import pandas as pd
from sklearn import linear_model, model_selection
import numpy as np
# test
products = '/Users/paddy/Desktop/facebook_products.csv'

df =  pd.read_csv(products)
df.head()

,Unnamed: 0,id,product_name,category,product_description,price,location,url,page_id,create_time
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,NaN,NaN,NaN,NaN,NaN

In [143]:
df.info

<bound method DataFrame.info of       Unnamed: 0                                    id  \
0              0  243809c0-9cfc-4486-ad12-3b7a16605ba9
1              1  1c58d3f9-8b93-47ea-9415-204fcc2a22e6
2              2  860673f1-57f6-47ba-8d2f-13f9e05b8f9a
3              3  59948726-29be-4b35-ade5-bb2fd7331856
4              4  16dbc860-696e-4cda-93f6-4dd4926573fb
...          ...                                   ...
11313       7151  c4148656-78a9-4f3e-b393-134fdc5ef900
11314       7152  564e3411-768d-4250-a624-b119d696f103
11315       7153  2b0a652b-46a2-4297-b619-5efeeb222787
11316       7154  719fd40a-870e-4144-b324-55dff2e66fb4
11317       7155  86d1806b-5575-4a7e-9160-f24f12be6c95

                                            product_name  \
0      Mirror wall art | in Wokingham, Berkshire | Gu...
1      Stainless Steel Food Steamer | in Inverness, H...
2      Sun loungers | in Skegness, Lincolnshire | Gum...
3      Coffee side table from Ammunition ammo box hai...
4      Modern Shannon Sofa for sale at low cost | in ...
...                                                  ...
11313  Sony PlayStation VR Move Bundle | in Acocks Gr...
11314  Playstation VR V2 Bundle | in Acocks Green, We...
11315  Oculus quest 2 256gb | in Montrose, Angus | Gu...
11316  Logitech driving force shifter | in Carrickfer...
11317  20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...

                                                category  \
0      Home & Garden / Dining, Living Room Furniture ...
1                  Home & Garden / Other Household Goods
2      Home & Garden / Garden & Patio / Outdoor Setti...
3      Home & Garden / Dining, Living Room Furniture ...
4      Home & Garden / Dining, Living Room Furniture ...
...                                                  ...
11313  Video Games & Consoles / Consoles / PS4 (Sony ...
11314  Video Games & Consoles / Consoles / PS4 (Sony ...
11315  Video Games & Consoles / Other Video Games & C...
11316  Video Games & Consoles / Video Game Accessorie...
11317                     Video Games & Consoles / Games

                                     product_description    price  \
0      Mirror wall art. Posted by Nisha in Dining, Li...    £5.00
1      Morphy Richard’s (model no 48755)Stainless ste...   £20.00
2      I have 2 of these - collection only as I don’t...   £20.00
3      Great reclaimed army ammunition box used as co...  £115.00
4      New Design Shannon Corner sofa  5 Seater Avail...      NaN
...                                                  ...      ...
11313  Sony PlayStation VR Move Bundle353CASH ON COLL...  £260.00
11314  Playstation VR V2 Bundle355CASH ON COLLECTION ...  £235.00
11315  Pick up only £250Comes with two pistols stocks...  £250.00
11316  Bought at christmas from currys retailing at £...   £30.00
11317  Nintendo Switch console only used 2/3 times. A...  £450.00

                           location  \
0              Wokingham, Berkshire
1               Inverness, Highland
2            Skegness, Lincolnshire
3                Radstock, Somerset
4                               NaN
...                             ...
11313   Acocks Green, West Midlands
11314   Acocks Green, West Midlands
11315               Montrose, Angus
11316  Carrickfergus, County Antrim
11317                 Poole, Dorset

                                                     url       page_id  \
0      https://www.gumtree.com/p/mirrors-clocks-ornam...  1.426705e+09
1      https://www.gumtree.com/p/other-household-good...  1.426705e+09
2      https://www.gumtree.com/p/outdoor-settings-fur...  1.426705e+09
3      https://www.gumtree.com/p/other-dining-living-...  1.426705e+09
4                                                    NaN           NaN
...                                                  ...           ...
11313  https://www.gumtree.com/p/ps4/sony-playstation...  1.422159e+09
11314  https://www.gumtree.com/p/ps4/playstation-vr-v...  1.422159e+09
11315  https://www.gumtree.com/p/other-video-games/oc...  1.426669e+09
11316  https://www.gumtree.com/p/other-video-game-acc...  1.426700e+09
11317  https://www.gumtree.com/p/video-games/20-games...  1.426700e+09

      create_time
0      2022-02-26
1      2022-02-26
2      2022-02-26
3      2022-02-26
4             NaN
...           ...
11313  2022-02-28
11314  2022-02-28
11315  2022-02-28
11316  2022-02-28
11317  2022-02-28

[11318 rows x 10 columns]>

In [144]:
df.dtypes

Unnamed: 0              object
id                      object
product_name            object
category                object
product_description     object
price                   object
location                object
url                     object
page_id                float64
create_time             object
dtype: object

In [145]:
df[['id','product_name','category','product_description','location','url','create_time']] = df[['id','product_name','category','product_description','location','url','create_time']].astype(str)
df.dtypes

Unnamed: 0              object
id                      object
product_name            object
category                object
product_description     object
price                   object
location                object
url                     object
page_id                float64
create_time             object
dtype: object

In [146]:
df = df.drop(df.columns[0], axis=1)
df['product_name'] = df['product_name'].str.encode('ascii', 'ignore').str.decode('ascii')
df['product_description'] = df['product_description'].str.encode('ascii', 'ignore').str.decode('ascii')
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richards (model no 48755)Stainless stee...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I dont ...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,NaN,nan,nan,NaN,nan

In [147]:
df = df.dropna(axis=0)
df.info

<bound method DataFrame.info of                                          id  \
0      243809c0-9cfc-4486-ad12-3b7a16605ba9
1      1c58d3f9-8b93-47ea-9415-204fcc2a22e6
2      860673f1-57f6-47ba-8d2f-13f9e05b8f9a
3      59948726-29be-4b35-ade5-bb2fd7331856
12     5707be4f-49d9-4feb-b2c8-aa0868405c65
...                                     ...
11313  c4148656-78a9-4f3e-b393-134fdc5ef900
11314  564e3411-768d-4250-a624-b119d696f103
11315  2b0a652b-46a2-4297-b619-5efeeb222787
11316  719fd40a-870e-4144-b324-55dff2e66fb4
11317  86d1806b-5575-4a7e-9160-f24f12be6c95

                                            product_name  \
0      Mirror wall art | in Wokingham, Berkshire | Gu...
1      Stainless Steel Food Steamer | in Inverness, H...
2      Sun loungers | in Skegness, Lincolnshire | Gum...
3      Coffee side table from Ammunition ammo box hai...
12     Spotlights | in Newent, Gloucestershire | Gumtree
...                                                  ...
11313  Sony PlayStation VR Move Bundle | in Acocks Gr...
11314  Playstation VR V2 Bundle | in Acocks Green, We...
11315  Oculus quest 2 256gb | in Montrose, Angus | Gu...
11316  Logitech driving force shifter | in Carrickfer...
11317  20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...

                                                category  \
0      Home & Garden / Dining, Living Room Furniture ...
1                  Home & Garden / Other Household Goods
2      Home & Garden / Garden & Patio / Outdoor Setti...
3      Home & Garden / Dining, Living Room Furniture ...
12                 Home & Garden / Other Household Goods
...                                                  ...
11313  Video Games & Consoles / Consoles / PS4 (Sony ...
11314  Video Games & Consoles / Consoles / PS4 (Sony ...
11315  Video Games & Consoles / Other Video Games & C...
11316  Video Games & Consoles / Video Game Accessorie...
11317                     Video Games & Consoles / Games

                                     product_description    price  \
0      Mirror wall art. Posted by Nisha in Dining, Li...    £5.00
1      Morphy Richards (model no 48755)Stainless stee...   £20.00
2      I have 2 of these - collection only as I dont ...   £20.00
3      Great reclaimed army ammunition box used as co...  £115.00
12     New in box not needed Spotlights . Posted by s...    £9.00
...                                                  ...      ...
11313  Sony PlayStation VR Move Bundle353CASH ON COLL...  £260.00
11314  Playstation VR V2 Bundle355CASH ON COLLECTION ...  £235.00
11315  Pick up only 250Comes with two pistols stocks ...  £250.00
11316  Bought at christmas from currys retailing at 4...   £30.00
11317  Nintendo Switch console only used 2/3 times. A...  £450.00

                           location  \
0              Wokingham, Berkshire
1               Inverness, Highland
2            Skegness, Lincolnshire
3                Radstock, Somerset
12          Newent, Gloucestershire
...                             ...
11313   Acocks Green, West Midlands
11314   Acocks Green, West Midlands
11315               Montrose, Angus
11316  Carrickfergus, County Antrim
11317                 Poole, Dorset

                                                     url       page_id  \
0      https://www.gumtree.com/p/mirrors-clocks-ornam...  1.426705e+09
1      https://www.gumtree.com/p/other-household-good...  1.426705e+09
2      https://www.gumtree.com/p/outdoor-settings-fur...  1.426705e+09
3      https://www.gumtree.com/p/other-dining-living-...  1.426705e+09
12     https://www.gumtree.com/p/other-household-good...  1.426705e+09
...                                                  ...           ...
11313  https://www.gumtree.com/p/ps4/sony-playstation...  1.422159e+09
11314  https://www.gumtree.com/p/ps4/playstation-vr-v...  1.422159e+09
11315  https://www.gumtree.com/p/other-video-games/oc...  1.426669e+09
11316  https://www.gumtree.com/p/other-video-game-acc...  1.426700e+09
11317  https://www.gumtree.com/p/video-games/20-games...  1.426700e+09

      create_time
0      2022-02-26
1      2022-02-26
2      2022-02-26
3      2022-02-26
12     2022-02-26
...           ...
11313  2022-02-28
11314  2022-02-28
11315  2022-02-28
11316  2022-02-28
11317  2022-02-28

[6311 rows x 9 columns]>

In [148]:
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richards (model no 48755)Stainless stee...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I dont ...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,"Spotlights | in Newent, Gloucestershire | Gumtree",Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,£9.00,"Newent, Gloucestershire",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26

In [149]:
df['price'] = df['price'].str.replace('£','')
df['price'] = df['price'].str.replace(',','').astype(float)
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richards (model no 48755)Stainless stee...,20.0,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I dont ...,20.0,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,"Spotlights | in Newent, Gloucestershire | Gumtree",Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,9.0,"Newent, Gloucestershire",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26

In [150]:
df.dtypes

id                      object
product_name            object
category                object
product_description     object
price                  float64
location                object
url                     object
page_id                float64
create_time             object
dtype: object

In [151]:
# df['product_name'] = df['product_name'].astype('str')
# df['product_name'] = df['product_name'].str.replace('|','')

df['product_name'] = df['product_name'].str.split('|').str[0]
# df['product_name'] = df['product_name']
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,"Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden / Other Household Goods,Morphy Richards (model no 48755)Stainless stee...,20.0,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I dont ...,20.0,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,9.0,"Newent, Gloucestershire",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26

In [152]:
df['subcategory'] = df['category'].str.split('/').str[1]
df['category'] = df['category'].str.split('/').str[0]
df.head()

,id,product_name,category,product_description,price,location,url,page_id,create_time,subcategory
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,Home & Garden,"Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture"
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden,Morphy Richards (model no 48755)Stainless stee...,20.0,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden,I have 2 of these - collection only as I dont ...,20.0,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26,Garden & Patio
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden,Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture"
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden,New in box not needed Spotlights . Posted by s...,9.0,"Newent, Gloucestershire",https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods

In [153]:
df['county'] = df['location'].str.split(',').str[1]
df['location'] = df['location'].str.split(',').str[0]
df.head()
# fin

,id,product_name,category,product_description,price,location,url,page_id,create_time,subcategory,county
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,Home & Garden,"Mirror wall art. Posted by Nisha in Dining, Li...",5.0,Wokingham,https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Berkshire
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden,Morphy Richards (model no 48755)Stainless stee...,20.0,Inverness,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Highland
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden,I have 2 of these - collection only as I dont ...,20.0,Skegness,https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26,Garden & Patio,Lincolnshire
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden,Great reclaimed army ammunition box used as co...,115.0,Radstock,https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Somerset
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden,New in box not needed Spotlights . Posted by s...,9.0,Newent,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Gloucestershire

In [154]:
df = df.drop(df.columns[3], axis=1)
df
# df_trial = df[['category', 'location', 'subcategory', 'county']]

,id,product_name,category,price,location,url,page_id,create_time,subcategory,county
0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art,Home & Garden,5.0,Wokingham,https://www.gumtree.com/p/mirrors-clocks-ornam...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Berkshire
1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer,Home & Garden,20.0,Inverness,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Highland
2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers,Home & Garden,20.0,Skegness,https://www.gumtree.com/p/outdoor-settings-fur...,1.426705e+09,2022-02-26,Garden & Patio,Lincolnshire
3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden,115.0,Radstock,https://www.gumtree.com/p/other-dining-living-...,1.426705e+09,2022-02-26,"Dining, Living Room Furniture",Somerset
12,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights,Home & Garden,9.0,Newent,https://www.gumtree.com/p/other-household-good...,1.426705e+09,2022-02-26,Other Household Goods,Gloucestershire
...,...,...,...,...,...,...,...,...,...,...
11313,c4148656-78a9-4f3e-b393-134fdc5ef900,Sony PlayStation VR Move Bundle,Video Games & Consoles,260.0,Acocks Green,https://www.gumtree.com/p/ps4/sony-playstation...,1.422159e+09,2022-02-28,Consoles,West Midlands
11314,564e3411-768d-4250-a624-b119d696f103,Playstation VR V2 Bundle,Video Games & Consoles,235.0,Acocks Green,https://www.gumtree.com/p/ps4/playstation-vr-v...,1.422159e+09,2022-02-28,Consoles,West Midlands
11315,2b0a652b-46a2-4297-b619-5efeeb222787,Oculus quest 2 256gb,Video Games & Consoles,250.0,Montrose,https://www.gumtree.com/p/other-video-games/oc...,1.426669e+09,2022-02-28,Other Video Games & Consoles,Angus
11316,719fd40a-870e-4144-b324-55dff2e66fb4,Logitech driving force shifter,Video Games & Consoles,30.0,Carrickfergus,https://www.gumtree.com/p/other-video-game-acc...,1.426700e+09,2022-02-28,Video Game Accessories,County Antrim
11317,86d1806b-5575-4a7e-9160-f24f12be6c95,20 GAMES & NINTENDO SWITCH BUNDLE,Video Games & Consoles,450.0,Poole,https://www.gumtree.com/p/video-games/20-games...,1.426700e+09,2022-02-28,Games,Dorset

In [159]:
dummies = pd.get_dummies(df[['category']], prefix='category', drop_first=True)
dummies

,category_Baby & Kids Stuff,"category_Clothes, Footwear & Accessories",category_Computers & Software,category_DIY Tools & Materials,category_Health & Beauty,category_Home & Garden,"category_Music, Films, Books & Games",category_Office Furniture & Equipment,category_Other Goods,"category_Phones, Mobile Phones & Telecoms","category_Sports, Leisure & Travel",category_Video Games & Consoles
0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0
12,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11313,0,0,0,0,0,0,0,0,0,0,0,1
11314,0,0,0,0,0,0,0,0,0,0,0,1
11315,0,0,0,0,0,0,0,0,0,0,0,1
11316,0,0,0,0,0,0,0,0,0,0,0,1
11317,0,0,0,0,0,0,0,0,0,0,0,1

In [162]:
# features_columns = ['price']
# X = df.loc[:, features_columns]
# X.shape
dummies.columns




# X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3)
# X_validation, X_test, y_validation, y_test = model_selection.train_test_split(
#     X_test, y_test, test_size=0.5
# )

# print(X_train.shape, y_train.shape)

Index(['category_Baby & Kids Stuff ',
       'category_Clothes, Footwear & Accessories ',
       'category_Computers & Software ', 'category_DIY Tools & Materials ',
       'category_Health & Beauty ', 'category_Home & Garden ',
       'category_Music, Films, Books & Games ',
       'category_Office Furniture & Equipment ', 'category_Other Goods ',
       'category_Phones, Mobile Phones & Telecoms ',
       'category_Sports, Leisure & Travel ',
       'category_Video Games & Consoles '],
      dtype='object')

In [165]:
df_for_linear = pd.concat([df['price'], dummies], axis=1)
df_for_linear

,price,category_Baby & Kids Stuff,"category_Clothes, Footwear & Accessories",category_Computers & Software,category_DIY Tools & Materials,category_Health & Beauty,category_Home & Garden,"category_Music, Films, Books & Games",category_Office Furniture & Equipment,category_Other Goods,"category_Phones, Mobile Phones & Telecoms","category_Sports, Leisure & Travel",category_Video Games & Consoles
0,5.0,0,0,0,0,0,1,0,0,0,0,0,0
1,20.0,0,0,0,0,0,1,0,0,0,0,0,0
2,20.0,0,0,0,0,0,1,0,0,0,0,0,0
3,115.0,0,0,0,0,0,1,0,0,0,0,0,0
12,9.0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11313,260.0,0,0,0,0,0,0,0,0,0,0,0,1
11314,235.0,0,0,0,0,0,0,0,0,0,0,0,1
11315,250.0,0,0,0,0,0,0,0,0,0,0,0,1
11316,30.0,0,0,0,0,0,0,0,0,0,0,0,1
11317,450.0,0,0,0,0,0,0,0,0,0,0,0,1

In [157]:
y = df.category
y.shape

(6311,)

In [158]:
reg = linear_model.LinearRegression()

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3)
X_validation, X_test, y_validation, y_test = model_selection.train_test_split(
    X_test, y_test, test_size=0.5
)
reg.fit(X,y)

ValueError: could not convert string to float: 'Home & Garden '